@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:wght@400&display=swap");
@import "tailwindcss";

@theme inline {
  --color-text: var(--text);
  --color-text-h: var(--text-h);
  --color-bg: var(--bg);
  --color-border: var(--border);
  --color-code-bg: var(--code-bg);
  --color-accent: var(--accent);
  --color-accent-bg: var(--accent-bg);
  --color-accent-border: var(--accent-border);
  --color-accent-2: var(--accent-2);
  --color-accent-2-bg: var(--accent-2-bg);
  --color-accent-2-border: var(--accent-2-border);
  --color-social-bg: var(--social-bg);

  --font-sans: var(--sans);
  --font-heading: var(--heading);
  --font-mono: var(--mono);
}

:root {
  --text: #6f1712;
  --text-h: #360103;
  --bg: #fff8ff;
  --border: rgba(111, 23, 18, 0.25);
  --code-bg: rgba(231, 34, 58, 0.08);
  --accent: #e7223a;
  --accent-bg: rgba(231, 34, 58, 0.1);
  --accent-border: rgba(231, 34, 58, 0.5);
  --accent-2: #ba432e;
  --accent-2-bg: rgba(186, 67, 46, 0.12);
  --accent-2-border: rgba(186, 67, 46, 0.5);
  --social-bg: rgba(54, 1, 3, 0.08);
  --shadow:
    rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;

  --sans: 'Nunito', system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: 'Bebas Neue', system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--text);
  background: var(--bg);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

#root {
  
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  border-inline: 1px solid var(--border);
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}
a{
  font-family:var(--heading);
}
h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  ;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

code,
.counter {
  font-family: var(--mono);
  display: inline-flex;
  border-radius: 4px;
  color: var(--text-h);
}

code {
  font-size: 15px;
  line-height: 135%;
  padding: 4px 8px;
  background: var(--code-bg);
}
